pydantic==2.1.1
packaging==23.1
onnx==1.14.0
onnxruntime==1.15.1
mmengine==0.8.2
mmdet==3.1.0
mmpose==1.1.0
aenum==3.1.15
tqdm==4.65.0
transformers
addict
yapf
timm
supervision
pycocotools
mmcv==2.0.1 ; sys_platform == 'darwin'
torch==2.0.1 ; sys_platform == 'darwin'
onnxruntime-gpu==1.15.1 ; sys_platform == 'win32'

# tapnet
chex
jax
jaxline
optax
dm-haiku
dm-tree
typing_extensions
mediapy
einshape
ipympl

# yolo_tracking
filterpy>=1.4.5         # OCSORT & DeepOCSORT
gdown>=4.7.1            # google drive model download
lapx>=0.5.4
loguru>=0.7.0
PyYAML>=5.3.1           # read tracker configs
scikit-learn>=1.3.0     # gsi