pydantic==2.1.1
packaging==23.1
onnx==1.14.0
onnxruntime==1.15.1
aenum==3.1.15
tqdm==4.65.0
transformers
addict
yapf
timm
supervision
pycocotools
mmengine==0.9.0
mmdet==3.2.0
mmpose==1.2.0
mmcv==2.1.0 ; sys_platform == 'darwin'
torch==2.0.1 ; sys_platform == 'darwin'
onnxruntime-gpu==1.15.1 ; sys_platform == 'win32'

# tapnet
# chex
# jax
# jaxline
# optax
# dm-haiku
# dm-tree
# typing_extensions
# mediapy
# einshape
# ipympl